<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentalManagementSyetem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatable/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatable/css/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugin/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/RentalManagementSyetem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HR Builders</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated==true)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="SetUp" asp-action="AdminIndex">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="SetUp" asp-action="PropertyManagerIndex">PropertyManager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">Tenants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="SetUp" asp-action="BuildingIndex">Buildings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="SetUp" asp-action="ApartmentIndex">Apartment</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reports
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                @if (User.IsInRole("Admin") || User.IsInRole("PropertyManager"))
                                {
                                    <li>
                                        <a style="text-decoration:none; color:black; text-align:center; padding:10px" asp-controller="Reports" asp-action="CompletedRequest">Complete-Request</a>
                                    </li>
                                    <li>
                                        <a style="text-decoration:none; color:black;padding:10px" asp-controller="Reports" asp-action="ReportsIndex">OutComming</a>
                                    </li>
                                }
                                @if(User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a style="text-decoration:none; color:black;padding:10px" asp-controller="Reports" asp-action="IncommingReportsIndex">Message</a>
                                    </li>
                                }
                                    <li>
                                        <a style="text-decoration:none; color:black;padding:10px" asp-controller="Reports" asp-action="TenatsReport">Tenants Report</a>
                                    </li>
                                
                            </ul>
                        </li>
                        }
                    </ul>
                    <form class="d-flex">
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <button asp-action="LogOut" asp-controller="Account" class="btn btn-primary mx-2" type="submit">Logout</button>
                        }
                        else
                        {
                            <button asp-action="Login" asp-controller="Account" class="btn btn-primary mx-2" type="submit">Login</button>
                            <button asp-action="Create" asp-controller="Account" class="btn btn-success m" type="submit">SignUp</button>
                        }


                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Self Management
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatable/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatable/js/datatables.bootstrap5.min.js"></script>
    <script src="~/lib/plugin/select2/js/select2.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
